.introduction {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #fff;
    padding: 50px;
}
.introduction h1{
    padding: 0 0 20px 20px;
    font-size: 30px;
}
.introduction .desc {
    padding: 20px;
}
.introduction .intro {
    padding: 20px 0 5px 20px;
    font-size: 25px;
}
.introduction .legend li {
    padding: 10px 20px;
}
.introduction .legend i{
    background: url('../assets/images/sprites.png') top left;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin-right: 20px;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}
.introduction .legend i.S {background-position: 0px -23px;}
.introduction .legend i.G {background-position: 0px -46px;}
.introduction .legend i.T {background-position: 0px -69px;}
.introduction .legend i.M {background-position: 0px -92px;}
.introduction .legend i.O {background-position: 0px 0px;}
.introduction .legend i.P {background-position: 0px -138px;}
.introduction .legend i.E {background-position: 0px -115px;}

.introduction .btn {
    text-align: center;
}
.introduction .btn span {
    display: inline-block;
    margin-top: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 80px;
}

.game-panel {
    color: #fff;
    padding: 10px;
}
.game-panel p {
}